/*Styles for the Group page*/
.group-header, .pitch-content, .pitch-author, .line-create {
    font-family: 'Habibi', serif;
}

.line-create {
    text-align: right;
}

.col-xs-12.col-sm-12.col-md-8.col-lg-8.well.line-well {
    background-color: #FDFEFE;
    border-color: #D6EAF8;  
}

.pitch-content:hover, .line-create a:hover {
    color: #5DADE2;
    text-decoration: none;
}