{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/line.css')}}">
    
    <link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
{% endblock %}

<!-- Content block -->
{% block content %}
    <title> {{ title }} </title>
    <div class="container">

        <div class="row">

            <div class="col-md-2 col-lg-2">
                
            </div>

            <div class=" col-xs-10 col-sm-10 col-md-8 col-lg-8">
            
                <h2> 

                    <a href="/group/{{line.group.id}}" class="pitch-content">
                        
                        {{ line.line_content }} 

                    </a>

                    <br>

                    <small class="pitch-author"> by {{ line.user.username }} </small>

                </h2>

            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <div class="row">

                    <a href="/line/upvote/{{ line.id }}">

                        <i class="glyphicon glyphicon-chevron-up">
                        </i>

                    </a>

                </div>

                <div class="row">

                    <i class="votes">
                        {{ total_votes }}   
                    </i>

                </div>

                <div class="row">

                    <a href="/line/downvote/{{ line.id }}">

                        <i class="glyphicon glyphicon-chevron-down"></i>

                    </a>
                    
                </div>
                
            </div>

        </div>
        

        <ul class="list-unstyled">
            {{ macro.displayCommentList(comments) }}
        </ul>


        <h3>
            <a href="/line/new/{{line.id}}" class="comment-create">
                Comment
            </a>
        </h3>

    </div>
{% endblock %}