{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}
    <title> {{ title }} </title>
    <div class="container">

        <div class="row">

            <div class="col-md-2 col-lg-2">
                
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
            
                <h2> 

                    <a href="/group/{{line.group.id}}">
                        
                        {{ line.line_content }} 

                    </a>

                    <br>

                    <small> by {{ line.user.username }} </small>

                </h2>

            </div>

            <div class="col-md-2 col-lg-2">

                <div class="row">

                    <a href="/line/upvote/{{ line.id }}">

                        <i class="glyphicon glyphicon-thumbs-up"></i>

                    </a>

                </div>

                <div class="row">
                    {{ total_votes }}
                </div>

                <div class="row">

                    <a href="/line/downvote/{{ line.id }}">

                        <i class="glyphicon glyphicon-thumbs-down"></i>

                    </a>
                    
                </div>
                
            </div>

        </div>
        

        <ul class="list-unstyled">
            {{ macro.displayCommentList(comments) }}
        </ul>


        <h3>
            <a href="/line/new/{{line.id}}">
                Comment
            </a>
        </h3>

    </div>
{% endblock %}